DATABASE_URL=postgresql://clube:clube@127.0.0.1:15432/clube_do_album_ranking
RABBITMQ_URL=amqp://clube:clube@localhost:5672
SERVER_PORT=3002

RABBITMQ_EXCHANGE=clube-do-album.events
RABBITMQ_DEAD_LETTER_EXCHANGE=clube-do-album.dead-letter
ALBUM_IMPORTED_QUEUE=ranking.album-imported.queue
ALBUM_IMPORTED_ROUTING_KEY=album.imported
ALBUM_RATED_QUEUE=ranking.album-rated.queue
ALBUM_RATED_ROUTING_KEY=album.rated
